openai
tiktoken
astroid         
Click           
colorama        
fastapi         
gunicorn        
h11             
isort           
lazy-object-proxy
mccabe          
pydantic        
pylint          
six             
starlette       
uvicorn         
websockets      
wrapt           
langcorn
langchain==0.0.312
pandas
python-dotenv
google-cloud-bigquery
pybigquery
pyarrow
google-cloud-bigquery-storage
networkx
python-jose[cryptography]
passlib[bcrypt]
typing
cloud-sql-python-connector
pymysql
python-multipart
requests
cloud-sql-python-connector[pymysql] 
sqlalchemy==1.4.50
sql_metadata
pymongo
sqlparse
pytz
db_dtypes
google-cloud-bigquery
pandas
numpy
fastapi
python-multipart
typing
scikit-learn
scipy
pandas_gbq
